<!DOCTYPE html>
<html>
<head>
	<title><?=Config::get('site_name')?></title>

	<link href="/webroot/css/bootstrap.css" rel='stylesheet' type='text/css' />

	<script src="/webroot/js/jquery.min.js"></script>

	<link href="/webroot/css/style.css" rel="stylesheet" type="text/css" media="all" />

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

	<script type="text/javascript" src="/webroot/js/bootstrap.js"></script>
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>


	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>


	<script src="/webroot/js/responsiveslides.min.js"></script>
	<script>
		$(function () {
			$("#myslider").responsiveSlides({
				auto: true,
				nav: true,
				speed: 500,
				namespace: "callbacks",
				pager: true,
			});
		});
	</script>
	<script type="text/javascript" src="/webroot/js/move-top.js"></script>
	<script type="text/javascript" src="/webroot/js/easing.js"></script>



	<!--/script-->
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
			});
		});
	</script>


</head>

<body>
	<!-- header-section-starts-here -->
	<div class="header">
		<div class="header-top">
			<div class="wrap">
				<div class="top-menu">
					<ul>
						<?php if ( isset ($_SESSION['login'])) { ?>
						<li><a href="#">Добро пожаловать, <?=Session::get('login')?></a></li>
						<li><a href="/users/logout">Logout</a></li>
						<?php }else{ ?>
						<li><a href="/users/login">Войти</a></li>
						<li><a href="/users/register">Регистрация</a></li>
						<?php } ?>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<!-- main menu-ends-here -->

		<div class="header-bottom">
			<div class="logo text-center">
				<a class="navbar-brand" href="/"><?=Config::get('site_name')?></a>
			</div>
			<div class="navigation">
				<nav class="navbar navbar-default" role="navigation">
		   <div class="wrap">

		
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li <?php if( App::getRouter()->getController() == 'categories' ) {?>class="active"<?php } ?>><a href="/news/">News</a></li>
					<li><a href="/categories/index/sport">Sport</a></li>
					<li><a href="/categories/index/fashion">Fashion</a></li>
					<li><a href="/categories/index/politics">Politics</a></li>

					<li class="dropdown">
					<a href="/categories/index/business" class="dropdown-toggle" data-toggle="dropdown">Bussiness<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/categories/index/economics">Economics</a></li>
						<li class="divider"></li>
						<li><a href="/categories/index/economics">Economics</a></li>
						<li class="divider"></li>
						<li><a href="/categories/index/technology">Technology</a></li>

						<li class="dropdown-submenu"><a href="/categories/index/analytics">Analitics</a></li>
							<ul class="dropdown-menu">
								<li class="divider"></li>
								<li><a tabindex="-1" href="/categories/index/analytics">2015</a></li>
								<li class="divider"></li>
								<li><a tabindex="-1" href="/categories/index/analytics">2016</a></li>
							</ul>

					</ul>
					</li>
					<li><a href="/news/search/">Advanced search</a></li>
					<div class="clearfix"></div>
				</ul>
					<div class="search">

						<!-- start search-->
						<form method="get" class="navbar-form navbar-left" name="search" action="/news/search/">
							<div class="form-group">
								<input class="form-control" placeholder="Search by tags" name="tag" id="tag">
							</div>
							<button type="submit" class="btn btn-default"><p class="glyphicon glyphicon-search"></p></button>
						</form><label for="tag"></label><br />

						<?php $tags = array();
							  $all_tags = Tags::getAllTags();
							  foreach($all_tags as $tag){
								  $tags[]=$tag['name'];
								  }
							  $tags = json_encode($tags, JSON_PRETTY_PRINT);?>

						<script>
							var Tag = <?=$tags?>;
							$( "#tag" ).autocomplete({source: Tag});
						</script>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>

				</nav>
		</div>
	</div>

		<div class="main-body">
			<div class="container">
				<div class="starter-template">

					<?php if( Session::hasFlash() ){ ?>
					<div class="alert alert-info" role="alert">
						<?php Session::flash(); ?>
					</div>
					<?php } ?>

					<?=$data['content']?>
				</div>
			</div>
		</div>

	</div>
	<!-- content-section-ends-here -->
	<!-- footer-section-starts-here -->
	<div class="footer">
		<div class="footer-bottom">
			<div class="wrap">
				<div class="copyrights col-md-4">
					<p>© 2016 XskyNews. All Rights Reserved</p>
				</div>
				<div class="copyrights col-md-6">
					<p>| Design by  <a href="http://w3layouts.com/"> W3layouts</a>
					</p>
				</div>
				<div class="footer-social-icons col-md-2">
					<ul>
						<li><a class="facebook" href="#"></a></li>
						<li><a class="linkedin" href="#"></a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<script type="text/javascript" src="/webroot/js/close_window.js"></script>
	</div>
	<!-- footer-section-ends-here -->

	<script type="text/javascript">
		$(function(){
			$('#block_subscriber').delay(15000)
					.show(1);});
	</script>
	<div id="block_subscriber">
		<h3>Subscribe to our newsletter</h3><br/>
		<form method="post" action="/users/register">
			<div class="form-group">
				<label for="login">Login</label>
				<input type="text" id="login" name="login" class="form-control" />
			</div>
			<div class="form-group">
				<label for="email">Email</label>
				<input type="text" id="email" name="email" class="form-control" />
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" id="password" name="password" class="form-control" />
			</div>
			<input type="submit" class="btn btn-success" />
		</form>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
		$().UItoTop({ easingType: 'easeOutQuart' });
	});
	</script>
	<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</body>
</html>