<h3>Add comment</h3><br/>
<pre><?php print_r($data)?></pre>
<form method="post" action="">
    <div class="form-group">
        <label for="category_id"></label>
        <input type="hidden" id="category_id" name="category_id" value="<?=$data['comment']['category_id'] ?>" class="form-control" />
        <label for="news_id"></label>
        <input type="hidden" id="news_id" name="news_id" value="<?=$data['comment']['id'] ?>" class="form-control" />
        <!-- Подставяем id_news & category_id-->
    </div>
    <div class="form-group">
        <label for="title">Comment title</label>
        <input type="text" id="title" name="title" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label for="content">Your comment</label>
        <textarea name="content" id="content" class="form-control"></textarea>
    </div>
    <input type="submit" class="btn btn-success" />
</form>