
<div class="main-body">
    <div class="wrap">
        <div class="row">
            <div class="col-md-2 content-left"></div>
            <div class="col-md-8 content-left">
                <div class="blog-posts">
                    <div class="article-title">
                        <h3 class="post"><?=$data['article']['title']?></h3>
                        <div class="last-article">
                            <img src="<?=$data['article']['photo']?>">
                            <p class="artext"><?=$data['article']['content']?></p>
                            <ul class="categories">
                                <?php foreach($data['tags'] as $tag){ ?>
                                <li><a href="/articles/show/<?=$tag['tag_id']?>"><?=$tag['name']?></a></li>
                                <?php } ?>
                            </ul>
                            <div class="clearfix"></div>
                            <p>
                                <a class="span_link" href="#"><?=$data['article']['date']?></a>
                                <a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>Reading now:<?=$data['article']['read_now'] ?></a>
                                <a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>Already read:<?=$data['article']['already_read']?></a>
                            </p>
                        </div>
                        <div class="last-article">
                            <h4>Comments:</h4>
                            <?php foreach($data['comments'] as $comment){ ?>
                            <div class="media response-info">
                                    <h5><?=$comment['title']?></h5>
                                        <p>
                                            <a class="span_link" href="/articles/like/<?=$comment['comment_id']?>"><span class="glyphicon glyphicon-thumbs-up"></span><?=$comment['likes']?></a>
                                            <a class="span_link" href="/articles/dislike/<?=$comment['comment_id']?>"><span class="glyphicon glyphicon-thumbs-down"></span><?=$comment['dislikes']?></a>
                                        </p>
                                        <div class="clearfix"></div>
                                    <p><?=$comment['content']?></p>
                                <div class="clearfix"> </div>
                            </div>
                            <?php } ?>
                        </div>
                        <div class="clearfix"></div>
                        <?php if ( isset ($_SESSION['login'])) { ?>
                        <a href="/articles/comment/<?=$data['article']['id']?>">Comment</a>
                        <?php }else{ ?>
                        <a href="/users/register/">Comment</a>
                        <?php } ?>
                    </div>
                </div>
            </div>
            <div class="col-md-2 content-left"></div>
        </div>
    </div>
</div>