<h3>Categories</h3><br/>
<table class="table table-striped" style="width: 400px;">
<?php foreach($data['categories'] as $category_data) { ?>
    <tr>
        <td><b><?=$category_data['name']?></b></td>
        <td align="right">
            <a href="/admin/categories/edit/<?=$category_data['id']?>"><button class="btn btn-sm btn-primary">edit</button></a>
            <a href="/admin/categories/delete/<?=$category_data['id']?>" onclick="return confirmDelete();"><button class="btn btn-sm btn-warning">delete</button></a>
        </td>
    </tr>
<?php } ?>
</table>

<br/>

<div>
    <a href="/admin/categories/add/"><button class="btn btn-sm btn-success">New Category</button></a>
</div>